.logo a {
    color: #000000;
    font-size: 38px;
    line-height: 60px;
    font-weight: 600;
    font-family: 'Roboto',Arial,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

