.productHeader {
   font-size: 64px;
}
.productWrap {
    margin-bottom: 30px;
}
.productWrap::after {
    content: "";
    display: table;
    clear: both;
}
.productImageCarousel {
}
.productImage {
    width: 40%;
    height: auto;
    margin-right: 5%;
    float: left;
}
.productImage img {
    width: 100%;
    height: auto;
    display: block;
}
.productDesc {

}