.productName {
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 10px;
}

.productDescription {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}
.productCharacteristics {
    margin-bottom: 10px;

}
.productWrap {
    margin-bottom: 30px;
}
.productWrap::after {
    content: "";
    display: table;
    clear: both;
}
.productImageCarousel {
}
.productImage {
    width: 40%;
    height: auto;
    margin-right: 5%;
    float: left;
}
.productImage img {
    width: 100%;
    height: auto;
    display: block;
}
.productDesc {
    float: left;
    width: 55%;
}

.productPrice {
    margin-bottom: 50px;
}
.productPrice div {
    font-weight: 800;
    display: inline;
}
.addCart {
    font-size: 24px;
    border: none;
    background: none;
    position: relative;
    top: 3px;
}
.addCart:hover,
.addCart:focus {
    color: #ffa500;
    outline: none;
}