.productName {
    font-size: 30px;
    line-height: 1.1;
    margin-bottom: 10px;
}
@media only screen and (max-width: 860px) {
    .productName {
        font-size: 20px;
    }
}

.productDescription {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 10px;
}

.productCharacteristics {
    margin-bottom: 10px;

}

.productWrap {
    margin-bottom: 30px;
}

.productWrap::after {
    content: "";
    display: table;
    clear: both;
}

.productImageCarousel {
}

.productImage {
    width: 40%;
    height: auto;
    margin-right: 5%;
    float: left;
}
@media only screen and (max-width: 860px) {
    .productImage {
       display: none;
    }
}

.productImage img {
    width: 100%;
    height: auto;
    display: block;
}

@media only screen and (min-width: 861px) {
    .productDesc {
        float: left;
        width: 55%;
    }
}

.variant img {
    width: 30px;
    height: 30px;
}
.variant {
    margin-bottom: 5px;
}
@media only screen and (max-width: 860px) {

    .variant img {
        width: 60px;
        height: 60px;
    }
}

.variant {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid transparent;
    background: none;
    outline: none !important;
    padding: 0;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
    top: -2px;
}
.variant.active,
.variant:hover {
    border: 1px solid #f5bb00;
}