.newsHeader {
    font-size: 64px;
}

.cartTable {
    text-align: center;
    width: 100%;
}

.cartTable thead tr:first-child {
    border-bottom: 1px solid #bbbbbb;
}

.cartTable tbody tr:last-child {
    border-top: 1px solid #bbbbbb;
}

.cartTable td {
    padding: 10px;
    vertical-align: top;
}

.cartTable td:first-child {
    text-align: left;
}

.cartTable button {
    border: none;
    background: none;
    outline: none !important;
}

.cartTable button:hover {
    color: #f5bb00;
}

.cartTable .cartDelete:hover {
    color: #ff0000;
}

.cartPrice {
text-align: right;
}

.cartPriceTotal {
    margin: 20px 0 30px;
    text-align: right !important;
}

.cartTable .table_td {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
}

.cartTable .table_td img {
    width: 20%;
    margin: 0 10px 10px 0;
}

.productName {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
}

.productThumbnail {
    float: left;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.productDescription {
    font-style: italic;
    font-size: 12px;
}

.productPrice {
    margin-bottom: 5px;
}

.productPrice div {
    font-weight: 800;
    display: inline;
}

.table_td {
    display: inline-block;
    margin: 0 5% 50px 0;
    vertical-align: top;
    width: 30%;
    text-align: center;
}

.table_td:nth-child(3n) {
    margin: 0;
}

.table_td img {
    display: block;
    height: auto;
    width: 100%;
}
.cartTable .buttonPurchase {
    background: #f5bb00;
    color: #ffffff!important;
    border: 1px solid #ffffff;
    font-size: 24px;
    padding: 3px 15px 7px;
}
.cartTable .buttonPurchase:hover {
    border-color: #f5bb00;
}
.cartTable .buttonPurchase:disabled {
    background: #6c757d;
    color: #ffffff!important;
    border-color: #ffffff;
}
.cartTable tfoot td{
    text-align: right!important;
}