.newsHeader {
    font-size: 64px;
}

.cartTable {
    text-align: center;
    width: 100%;
}

.cartTable thead tr:first-child {
    border-bottom: 1px solid #bbbbbb;
}

.cartTable tbody tr:last-child {
    border-top: 1px solid #bbbbbb;
}

.cartTable td {
    padding: 10px;
    vertical-align: top;
}

.cartTable td:first-child {
    text-align: left;
}

.controlButton {
    border: none;
    background: none;
    outline: none !important;
}

.controlButton:hover {
    color: #f5bb00;
}

.cartDeleteHolder {
    max-width: 35px;
}
.cartDelete {
    padding: 0;
}
.cartDelete:hover {
    color: #ff0000;
}

.cartPrice {
text-align: right;
}

.cartPriceTotal {
    margin: 20px 0 30px;
    text-align: right !important;
}

.cartTable .table_td {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
}

.cartTable .table_td img {
    width: 20%;
    margin: 0 10px 10px 0;
}

.productName {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 10px;
}
@media only screen and (max-width: 860px) {
    .productName {
        font-size: 16px;
        margin-bottom: 5px;
    }
}

.productThumbnail {
    float: left;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 860px) {
    .productThumbnail ,
    .cartTable .table_td img {
        float: none;
        max-width: 100%;
        width: auto;
        height: auto;
    }

}

.productDescription {
    font-style: italic;
    font-size: 12px;
}

@media only screen and (max-width: 860px) {
    .productDescription {
        display: none;
    }
}
.productPrice {
    margin-bottom: 5px;
}

.productPrice div {
    font-weight: 800;
    display: inline;
}

.table_td {
    display: inline-block;
    margin: 0 5% 50px 0;
    vertical-align: top;
    width: 30%;
    text-align: center;
}

.table_td:nth-child(3n) {
    margin: 0;
}

.table_td img {
    display: block;
    height: auto;
    width: 100%;
}
.cartTable tfoot td{
    text-align: right!important;
}