.header {
    background-color: #fff;
    display: block;
    position: relative;
    margin: 10px 0 20px;
}
.header::after {
    content: "";
    clear: both;
    display: table;
}
@media only screen and (max-width: 860px) {
    .header {
        margin: 0 0 15px;
    }
}

@media only screen and (min-width: 861px) {
    .header > div {
        margin-right: 30px;
        float: left;
    }
}
.header > div:last-child {
    margin-right: 0;
}

.header a {
    text-decoration: none;
    line-height: 60px;
}
@media only screen and (max-width: 860px) {
    .header a {
        line-height: 30px;
    }
}
