.shopTypeList {
    margin: 0 0 20px;
    padding: 0;
}
@media only screen and (max-width: 860px) {
    .shopTypeList {
        margin: 0 0 15px;
    }
}

.shopTypeList li {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
}

.shopTypeList button,
.shopTypeList button:focus {
    background: none;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.shopTypeList button.active {
    background-color: #f5bb00;
    color: #ffffff!important;
}
.shopTypeList button:hover {
    color: #f5bb00;
    border: none;
}


