
.productPrice {
    margin-bottom: 30px;
}
@media only screen and (max-width: 860px) {
    .productPrice{
        margin-bottom: 10px;
    }
}

.addCart {
    background: #ffa500;
    color: #ffffff;
    margin: 0 5px;
    padding: 2px 10px;
    position: relative;
    top: 0px;
    outline: none;
    border: 1px solid transparent;
}

.addCart:hover,
.addCart:focus {
    color: #ffffff;
    outline: none;
    border-color: #ffa500;
}
.addCart:disabled {
    background: #6c757d;
    border-color: transparent!important;
}
.selectorName {
    display: inline-block;
    width: 59px;
}