
.productPrice {
    margin-bottom: 30px;
}
@media only screen and (max-width: 860px) {
    .productPrice{
        margin-bottom: 10px;
    }
}

.productPriceValue {
    font-weight: 800;
    display: inline;
}


.addCart {
    background: #ffa500;
    color: #ffffff;
    margin: 0 5px;
    padding: 2px 10px;
    position: relative;
    top: 0px;
    outline: none;
    border: 1px solid #ffffff;
}

.addCart:hover,
.addCart:focus {
    color: #ffffff;
    outline: none;
    border-color: #ffa500;
}