.footer {
    border-top: 2px solid #0f0f0f;
    margin: 20px 0 5px;
    padding: 10px 0;
    font-family: 'Roboto', Arial, sans-serif;
    text-transform: uppercase;
}

@media only screen and (max-width: 860px) {
    .footer {
        padding: 5px 0;
    }
}