.wrapper {
    float: left;
    text-align: left;
}
@media only screen and (max-width: 860px) {
    .wrapper {
        clear: both;
    }
}

.wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
}

.wrapper ul > li {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    display: inline-block;
    margin-right: 10px;
}

.wrapper ul > li > a {
    display: block;
    transition: color ease .2s;
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    padding: 0 10px;
}
@media only screen and (max-width: 860px) {
    .wrapper ul > li > a {
        padding: 2px 10px;
    }
}

.wrapper ul > li > a:hover {
    color: #f5bb00
}

.wrapper ul > li > a.active {
    background-color: #f5bb00;
    color: #fff;
}

.navCart {
    position: relative;
    top: 1px;
    padding: 0 10px 0 8px!important;
}

.navCart span {
    margin-right: 5px;
}